spring:
  application:
    name: order-service
  datasource:
    url: "jdbc:postgresql://localhost:5433/crm"
    username: myuser
    password: mypassword
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    showSql: true
    hibernate:
      ddlAuto: update
server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: "http://localhost:8888/eureka" #buradada url le çal??t?royurz bir s?k?nt? olmaz çünkü servicesler gibi gbirden fazla instance ile çal??m?yorlar
    register-with-eureka: true #beni kay?t et
    fetch-registry: true #kay?tl?lar? al